body {
	font-family: Calibri;
	line-height: 1;
	text-align: center;
}
p {
	font-size: 14pt;
	color: darkslategray;
}
h4 {
	font-size: 15pt;
	color: steelblue;
}
h3 {
	font-size: 16pt;
}
a {
	text-decoration: none;
	text-align: center;
}
