@media only screen and (max-width: 1400px)  {
.hero-image {
	height: 580px;
}
.logo {
	padding-left: 15%;
}
.hero {
	margin-left: 22%;
	top: 50%;
} 
.bdr {
	top: 65%;
	margin-left: 22%;
}
.navbar-nav li a {
	margin-right: 10%;
}
.contactme {
	top: 230px;
	margin-right: 22%;
}
#about-us {
	height: 650px;
}
.lwys {
	width: 260px;
}
.carousel-caption {
	float: right;
	text-align: left;
	width: 40%;
	margin-left: 25%;
	font-family: Open Sans Regular;
	font-size: 14px;
	top: -15px;
}
.carousel-caption img {
	margin-left: -50px;
	margin-bottom: -30px;
}
.carousel-indicators {
	left: 47%;
}
}
@media only screen and (max-width: 1280px)  {
	.hero-image {
		height: 560px;
	}
	.hero {
	margin-left: 18%;
	top: 37%;
} 
.bdr {
	top: 52%;
	margin-left: 18%;
}
.navbar-nav li a {
	margin-right: 0%;
}
.navbar-nav {

	margin-right: 3%;
}
.contactme {
	top: 145px;
	margin-right: 20%;
}
#about-us {
	height: 680px;
}
.content1 .col-md-1 p {
	width: 300px;
	margin-bottom: 60px;
	font-size: 15px;
}
.content1 .col-md-4 {
	font-size: 15px;
	color: #000;
}
#praca {
	height: 850px;
}
.lwys {
	width: 200px;
	height: 224px;
}.crimg {
width: 280px;
}
.carousel-caption {
	width: 35%;
	margin-left: 30%;
	font-family: Open Sans Regular;
	font-size: 13px;
	top: -15px;
}
.carousel-caption .CEO {
	font-size: 18px;
}
.carousel-caption img {
	margin-left: -50px;
	margin-bottom: -30px;
}
.carousel-indicators {
	left: 52%;
	top: 350px;
}
.btc {
	font-size: 0.8em;
}
.bts {
	font-size: 0.8em;
	margin-top: -16px;
}
.faq {
	font-size: 0.8em;
}
.faq2 {
	font-size: 0.7em;
width: 50%;
}
.well {
height: 190px;
}
.map {
	height: 205px;
	width: 205px;
}
}
@media only screen and (max-width:992px)  {
.hero-image {
	height: 420px;
}
.logo {
	padding-left: 5%;
}
.hero {
	margin-left: 5%;
	top: 20%;
	font-size: 40px;
} 
.bdr {
	top: 38%;
	margin-left: 5%;
	height: 60px;
}
.navbar-nav li a {
	margin-right: 0%;
}
.navbar-nav {
    margin-top: 50px;
	margin-right: 1%;
}
.contactme {
	top: 30px;
	margin-right: 20%;
}
#about-us {
	height: 600px;
	padding-top: 150px;
	padding-left: 2%;


}
.head1 {
	padding-bottom: 0;
	margin-bottom: -9%;
	margin-right: 100%;

}
.head1 .head {
	font-size: 16px;
}
.content1 .col-md-1 p {
	width: 100px;
	font-size: 14px;
	margin-bottom: 0px;
	bottom: 100px;
}
.content1 .col-md-4 {
	font-size: 13px;
	width: 90%;
	top: -52px;
	float: right;
}
.content1 .col-md-4 p {
	margin-bottom: 5px;

}
.ex {
margin-top: 0;
width: 90%;
}
.exp {
	top: 50px;
}
#praca {
	height: 950px;
	padding-top: 150px;
	padding-left: 2%;
}
.content2 {
	margin-left: -15px;
}
.content2 img {
	margin: 0;
	padding: 0;
}
.head2 {
	margin-top: 10px;
	font-size: 16px;
}
.c2r1 {
	margin-top: 20px;
}
.c2r2 {
	margin-top: 10px;
}
.r2 {
	margin-left: 0px;
}
.content2 .col-md-5 {
	width: 100%;
}
.content2 p {
	font-size: 13px;
}
#lawy {
	padding-top: 150px;
	padding-left: 2%;
	height: 550px;
}
.content3 {
    width: 25%;
}
.lwys {
	height: 168px;
	width: 150px;
	font-size: 14px;
}
.lwys p {
	font-size: 12px;
}
.l2 {
	top: -170px;
	left: 150px;
}
.l3 {
	top: -337px;
	left: 300px;
}
.l4 {
	top: -504px;
	left: 450px;
}
#comments {
	padding-top: 150px;
	padding-left: 2%;
}
.hdr4 span {
	left: -110px;
	position: relative;
}
.hdr4 p {
	left: -110px;
	position: relative;
}
.carousel-inner {
	top: -100px;
	height: 400px;
}
#pub {
	padding-top: 150px;
	padding-left: 2%;
}
.btc {
	font-size: 0.8em;
}
.bts {
	font-size: 0.8em;
	margin-top: -16px;
}
.faq {
	display: none;
}
.faq2 {
	display: none;
}
.hm {
	display: block;
	background-color: #e8bf5d;
	padding: 40px 50px 0px 50px;
	width: 80%;
	height: 200px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
		-webkit-box-shadow: 0px 3px 15px 1px rgba(232, 191, 93, 0.2);
	        box-shadow: 0px 3px 15px 1px rgba(232, 191, 93, 0.2);
	font-size: 1em;
	font-family: Open Sans Regular;
}
#faq {
	padding-top: 150px;
	padding-left: 2%;
}
.contactme2 {
	width: 100px;
	font-size: 12px;
	padding-top: 10px;
}
#contact {
	padding-top: 150px;
	padding-left: 2%;
}
.ccc {
	margin-left: 2%;
	width: 80%;
}
.footer {
	padding-left: 2%;
}
}
@media only screen and (max-width:991px) {.hdr4 span{left: 0;}.hdr4 p{left: 0;}.carousel-inner{top: 0;}}
@media only screen and (max-width: 768px)  {
.hero-image {
	height: 320px;
}
.hero {
	margin-right: 0%;
	top: 45%;
	font-size: 40px;
	float: right;
	font-size: 32px;
} 
.lyr {
	font-size: 16px;
}
.bdr {
	top: 48%;
	margin-right: 5%;
	height: 50px;
	float: right;
}
.contactme {
	top: 230px;
	margin-left: 0;
	margin-right: -35%;
	float: right;
}
#about-us {
	height: 610px;
}
.head1 .head {
	font-size: 12px;
}
.col-md-1 {
	top: -15px;
}
.content1 .col-md-1 p {
	font-size: 12px;
	margin-bottom: 15px;
}
.content1 .col-md-4 {
	top: -110px;
	font-size: 12px;
	width: 70%;
	float: none;
	left: 100px;
}
.content1 .col-md-4 p {
	margin-bottom: 5px;

}
.content1 .ex {
margin-top: -65px;
font-size: 11px;
width: 100%;
}
.exp {
	top: 85px;
}
#praca {
	height: 900px;
}
.head2 {
	margin-top: 5px;
	font-size: 12px;
}
.content2 p {
	width: 100%;
}
.c2r1 {
	margin-top: 10px;
}
.c2r2 {
	margin-top: 5px;
}
.content2 p {
	margin-top: -15px;
	font-size: 12px;
}
#lawy {
	height: 520px;
}
.content3 {
    width: 25%;
}
.lwys {
	height: 134px;
	width: 120px;
	font-size: 12px;
}
.lwys p {
	font-size: 11px;
}
.l2 {
	top: -135px;
	left: 100px;
}
.l3 {
	top: -268px;
	left: 200px;
}
.l4 {
	top: -402px;
	left: 300px;
}

.crimg {
width: 180px;
}
.carousel-caption img {
	display: none;
}
.carousel-caption {
	width: 35%;
	margin-left: 35%;
	font-family: Open Sans Regular;
	font-size: 12px;
	top: -15px;
}
.carousel-caption .CEO {
	font-size: 16px;
}
.carousel-indicators {
	left: 53%;
	top: 370px;
}
#pub {
	height: 600px;
}
#pub .thumbnail {
	font-size: 0.9em;
}
.publ {
	width: 30%;
}
.author {
	display: none;
}
.pubt {
	display: none;
}
.hm {
	padding: 30px 40px 0px 40px;
	height: 200px;
}
.map {
	width: 140px;
	height: 140px;
}
}
@media only screen and (max-width: 480px)  {
.hero-image {
	height: 200px;
	width: 480px;
}
.hero {
	margin-right: 2%;
	top: 58%;
	font-size: 40px;
	float: right;
	font-size: 32px;
} 
.lyr {
	font-size: 16px;
}
.bdr {
	display: none;
}
	.contactme {
-webkit-border-radius: 0px;
        border-radius: 0px;
	    width: 100%;
	    position: absolute;
	    left: 0;
	    top: 300px;
}
#about-us {
	padding-top: 80px;
	height: 550px;
}
.hdr {
	font-size: 18px;
	background-image: none;
	height: 100px;
	border: none;
}
.hdr p {
	font-size: 12px;
}
.head1 .head {
	font-size: 12px;
}
.col-md-1 {
	top: -15px;
}
.content1 .col-md-1 p {
	font-size: 11px;
	margin-bottom: 15px;
}
.content1 .col-md-4 {
	top: -110px;
	font-size: 11px;
	width: 70%;
	float: none;
	left: 100px;
}
.content1 .col-md-4 p {
	margin-bottom: 5px;

}
.content1 .ex {
margin-top: -90px;
font-size: 11px;
width: 100%;
}
.exp {
	top: 85px;
}
#praca {
	padding-top: 80px;
	height: 720px;
	width: 480px;
}
.hdr2 {
	font-size: 18px;
	background-image: none;
	height: 100px;
	border: none;
}
.hdr2 p {
	font-size: 12px;
}
.content2 img {
	height: 20px;
}
.content2 p {
	font-size: 11px;
}
#lawy {
	padding-top: 80px;
	height: 400px;
	width: 480px;
}
.hdr3 {
	font-size: 18px;
	background-image: none;
	height: 100px;
	border: none;
}
.hdr3 p {
	font-size: 12px;
}
#comments {
	padding-top: 80px;
	height: 550px;
	width: 480px;
}
.hdr4 {
	font-size: 18px;
	background-image: none;
	height: 100px;
	border: none;
}
.hdr4 p {
	font-size: 12px;
}
.cmt {
	font-size: 11px;
}
.carousel-caption p {
	margin-left: -50%;
}
.carousel-caption .CEO {
	font-size: 14px;
	margin-left: -50%;
}
.carousel-indicators {
	display: none;
}
.crimg {
	width: 120px;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
#pub {
	padding-top: 80px;
	height: 620px;
}
.hdr5 {
	font-size: 18px;
	background-image: none;
	height: 100px;
	border: none;
}
.hdr5 p {
	font-size: 12px;
}
.publ {
	width: 50%;
}
.publ h4 {
	font-size: 1em;
}
.bts {
	display: none;
}
.btc {
	display: none;
}
#faq {
	padding-top: 80px;
	height: 450px;
}
.hdr6 {
	font-size: 18px;
	background-image: none;
	height: 100px;
	border: none;
}
.hdr6 p {
	font-size: 12px;
}
.hm {
	font-size: 0.8em;
	height: 200px;
}
#contact {
	padding-top: 80px;
	height: 650px;
}
.hdr7 {
	font-size: 18px;
	background-image: none;
	height: 100px;
	border: none;
}
.hdr7 p {
	font-size: 12px;
}
.ccc {
	height: 380px;
	margin-bottom: 0;
	padding-bottom: -20px;
}
.ml input {
	width: 300px;
}
.map {
	display: none;
}

}
@media only screen and (max-width: 320px)  {
.logo {
		margin-left: 24%;
}
	.navbar-toggle {
	margin-top: 2%;
}
.hero-image {
	display: none;
}
#about-us {
	height: 570px;
	width: 100%;
}
#praca {
	width: 320px;
}
#lawy {
	height: 550px;
	width: 100%;
}
.l3 {
	top: -100px;
	left: 0px;
}
.l4 {
	top: -234px;
	left: 100px;
}
#comments {
	width: 320px;
	height: 500px;
}
.crimg {
	width: 0;
	box-shadow: none;
}
.carousel-caption p {
	margin-left: -120%;
}
.carousel-caption .CEO {
	margin-left: -120%;
}
.ml input {
	width: 180px;
}
.ccc {
	height: 350px;
}
}
