body {
	margin-top: 50px;

}
@font-face {
	font-family: Open Sans Italic;
	src: url(../fonts/Open_Sans/OpenSans-Italic.ttf);
}
@font-face {
    font-family: PlayfairDisplay Black; 
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Black.ttf);
   }
@font-face {
    font-family: PlayfairDisplay Regular; 
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
   }
@font-face {
    font-family: Open Sans Regular; 
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
   }
@font-face {
	font-family: PlayfairDisplay Bold;
	src: url(../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf)
} 
@font-face {
    font-family: Open Sans Bold; 
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
   }
@font-face {
    font-family: Open Sans Light; 
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
   }
.container-fluid {
	margin: 0;
	padding: 0;
}

a:hover {
	color: #2c2c2c;
	text-decoration: none;
}
a:active {
	color: #0f0f0f;
	text-decoration: none;
}
a:focus {
	color: #0f0f0f;
	text-decoration: none;
}
.logo {
	font-family: PlayfairDisplay Black;
	padding-left: 20%;
	color: black;
	margin: 0;
	font-size: 20px;
	position: absolute;
}
.navbar-nav {
	text-align: right;
	float: right;
	margin-right: 10%;
}
.navbar-toggle {
	top: -10px;
	margin-right: 10%;
}
.navbar-nav li a {
	top: -10px;
	margin-right: 15%;
	font-family: Open Sans Regular;
}
.navbar {
	background-color: #fff;
	
	height: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
	position: fixed;
	z-index: 1;
}

.hero-image {
	background-image: url(../img/01_index.jpg);
	background-position: top;
	background-repeat: no-repeat;
	margin-top: 100px;
	display: block;
	height: 690px;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
}
.hero {
	display: block;
	font-family: PlayfairDisplay Regular;
	margin-left: 25%;
	top: 58%;
	font-size: 48px;
	color: white;
	position: relative;
	padding-left: 15px;
	cursor: default;
} 
.bdr {
	top: 70.5%;
	position: relative;
	border-left: 2px solid #e8bf5d;
	height: 70px;
	display: block;
	margin-left: 25%;
}
.lyr {
	font-family: Open Sans Regular;
	font-size: 26px;
	margin-top: -10px;
	cursor: default;
}
.navbar-collapse {
	background-color: #FFF;
}
.contactme {
	font-family: PlayfairDisplay Regular;
	font-size: 15px;
	display: block;
	background-color: #e8bf5d;
	border: transparent;
	-webkit-border-radius: 25px;
	        border-radius: 25px;
	height: 40px;
	width: 150px;
	text-align: center;
	color:black;
	float: right;
	margin-right: 25%;
	top: 325px;
	position: relative;
	padding-top: 7px;
}
.contactme:hover {
	border: 1px solid #DCB352;
	background-color: #FDD063;
	color: black;
}

#about-us {
	background-color: #fff;
	display: block;
	height: 495px;
	padding-top: 100px;
	padding-left: 20%;
	height: 600px;
	cursor: default;
}
.hdr {
	padding-left: 25px;
	font-family: PlayfairDisplay Regular;
	font-size: 25px;
	background-image: url("../img/01.png");
	background-repeat: no-repeat;
	height: 150px;
	margin-bottom: 20px;
	padding-top: 20px;
	border-left: 2px solid #e8bf5d;
	display: block;
	color: #000;
}
.hdr p {
	margin-top: 20px;
	font-size: 18px;
	color: #505050;
	font-family: PlayfairDisplay Regular;
}
.head1 {
	font-family: PlayfairDisplay Regular;
	color: #000;
	margin-left: -15px;
	margin-top: 40px;
}
.head1 .head {
	font-size: 18px;
	margin-bottom: 30px;
}

.content1 .col-md-1 p {
	font-family: Open Sans Bold;
	margin-bottom: 40px;
	font-size: 20px;
}
.content1 {
	font-family: Open Sans Regular;

}
.content1 .col-md-4 {
	margin-top: -10px;
	font-size: 16px;
	color: #000;
}
.content1 .col-md-4 p {
	margin-bottom: 20px;

}
.content1 .ex {
	margin-top: -8px;
	color: #5D5D5D;
	font-size: 14px;
	float: left;
}
#praca {	
  	background-color: #0f0f0f;
	display: block;
	padding-top: 100px;
	padding-left: 20%;
	height: 750px;
	cursor: default;
}
.hdr2 {
	padding-left: 25px;
	font-family: PlayfairDisplay Regular;
	font-size: 25px;
	background-image: url("../img/02.png");
	background-repeat: no-repeat;
	height: 150px;
	margin-bottom: 20px;
	padding-top: 20px;
	border-left: 2px solid #e8bf5d;
	display: block;
	color: #fff;
}
.hdr2 p {
	margin-top: 20px;
	font-size: 18px;
	color: #d1d1d1;
	font-family: PlayfairDisplay Regular;
}
.content2 {
	text-align: left;
	color: #FFF;
	margin-left: 14%;
	font-family: PlayfairDisplay Regular;
}
.c2r1 {
	margin-top: 80px;
}
.c2r2 {
	margin-top: 65px;
}
.c2r1 p {
	width: 80%;
}
.c2r2 p {
	width: 80%;
}
.r2 {
	margin-left: 100px;
}
.head2 {
	margin-top: -50px;
    font-size: 18px;
    margin-bottom: 25px;	
}
.content2 p {
	font-family: Open Sans Regular;
	font-size: 14px;
}
.content2 img {
	margin-left: -80px;
}
#lawy {
	background-color: #fff;
	display: block;
	height: 495px;
	padding-top: 100px;
	padding-left: 20%;
	height: 700px;
}
.hdr3 {
	padding-left: 25px;
	font-family: PlayfairDisplay Regular;
	font-size: 25px;
	background-image: url("../img/03.png");
	background-repeat: no-repeat;
	height: 150px;
	margin-bottom: 20px;
	padding-top: 20px;
	border-left: 2px solid #e8bf5d;
	display: block;
	color: #000;
	cursor: default;
}
.hdr3 p {
	margin-top: 20px;
	font-size: 18px;
	color: #505050;
	font-family: PlayfairDisplay Regular;
	cursor: default;
}
.lwys {
	display: block;
	height: 300px;
	width: 270px;
	font-family: PlayfairDisplay Regular;
	color: #000;
	font-size: 20px;
	cursor: default;
}
.lwys p {
	margin-top: 5px;
	font-family: Open Sans Light;
	color: #666;
	font-size: 16px;
	cursor: default;
}
#comments {
	background-image: url('../img/13.jpg');
	background-repeat: no-repeat;
	display: block;
	padding-top: 100px;
	padding-left: 20%;
	height: 800px;
	background-position: center;
}
.hdr4 {
	padding-left: 25px;
	font-family: PlayfairDisplay Regular;
	font-size: 25px;
	background-image: url("../img/04.png");
	background-repeat: no-repeat;
	height: 150px;
	margin-bottom: 20px;
	padding-top: 20px;
	border-left: 2px solid #e8bf5d;
	display: block;
	color: #fff;
	cursor: default;
}
.hdr4 p {
	margin-top: 20px;
	font-size: 18px;
	color: #d1d1d1;
	font-family: PlayfairDisplay Regular;
	cursor: default;
}
.crimg {
	-webkit-box-shadow: 21px 21px 0px 1px #E8BF5D;
	        box-shadow: 21px 21px 0px 1px #E8BF5D;
	margin: 0 75px 75px 0;
}
.carousel-caption {
	float: right;
	text-align: left;
	width: 40%;
	margin-left: 20%;
	font-family: Open Sans Regular;
	font-size: 14px;
	top: -15px;
	cursor: default;
}
.cmt {
	padding-bottom: 40px;
}
.carousel-caption .CEO {
	font-family: PlayfairDisplay Regular;
	font-size: 20px;
	cursor: default;
}
.carousel-caption img {
	margin-left: -50px;
	margin-bottom: -30px;
}
.carousel-indicators {
	left: 42%;
height: 100px;
}
#pub {
	background-color: #fff;
	display: block;
	height: 495px;
	padding-top: 100px;
	padding-left: 20%;
	height: 800px;
	width: 80%;
}
#pub h4 {
	font-family: PlayfairDisplay Regular;
}
.hdr5 {
	padding-left: 25px;
	font-family: PlayfairDisplay Regular;
	font-size: 25px;
	background-image: url("../img/05.png");
	background-repeat: no-repeat;
	height: 150px;
	margin-bottom: 20px;
	padding-top: 20px;
	border-left: 2px solid #e8bf5d;
	display: block;
	color: #000;
	cursor: default;
}
.hdr5 p {
	margin-top: 20px;
	font-size: 18px;
	color: #505050;
	font-family: PlayfairDisplay Regular;
	cursor: default;
}
#pub .thumbnail:hover {
	border-color: #e8bf5d;
}
#pub .thumbnail {
	border-bottom: 2px solid #E8BF5D;
}
#pub .thumbnail a {
	color: #000;
}
#pub .thumbnail a:hover {
	color: #999;
}
#pub .thumbnail a:focus {
	color: #000;
}
#pub .thumbnail a:active {
	color: #333;
}
.thumbnail {
	-webkit-border-radius: 0;
	        border-radius: 0;
}
.pubt {
	color: #666;
	font-family: Open Sans Regular;
	font-size: 12px;
	margin-top: 20px;
	cursor: default;
}
.author {
	font-family: Open Sans Italic;
	color: #666;
	margin-top: -10px;
		cursor: default;
}
.author a {
	font-family: Open Sans Regular;
	color: #000;
	cursor: pointer;
}
.author span {
	font-family: Open Sans Italic;
	color: #666;
	float: right;
}
.btc {
	font-family: Open Sans Light;
	text-align: left;
	display: block;

}
.bts {
	font-family: Open Sans Light;
display: block;
float: right;
margin-top: -20px;
}
.bimg {	
	text-align: left;
	float: left;
	margin-left: 0;
	margin-right: 5px;
}
#faq {
	background-color: #0f0f0f;
	display: block;
	height: 495px;
	padding-top: 100px;
	padding-left: 20%;
	height: 610px;
}
.hdr6 {
	padding-left: 25px;
	font-family: PlayfairDisplay Regular;
	font-size: 25px;
	background-image: url("../img/06.png");
	background-repeat: no-repeat;
	height: 150px;
	margin-bottom: 20px;
	padding-top: 20px;
	border-left: 2px solid #e8bf5d;
	display: block;
	color: #fff;
	cursor: default;
}
.hdr6 p {
	margin-top: 20px;
	font-size: 18px;
	color: #d1d1d1;
	font-family: PlayfairDisplay Regular;
	cursor: default;
}
.hm {
	display: none;
}
.faqb {
	width: 100%;
	background: transparent;
}
.faq {
	font-family: Open Sans Bold;
	margin-left: 0;
	padding-left: 0;
	margin-top: 20px;
}
.faq a {
	padding-top: 8px;
	font-size: 0.9em;
	padding-left: 0;
	margin-left: 0;
}
.faq2 {
	font-family: Open Sans Regular;
	font-size: 0.9em;
	width: 35%;
	margin-top: 20px;
}
.faq2 p {
	padding-top: 1px;
}
.plus {
	margin-top: -28px;
	float: right;
	font-size: 2em;
}
#collapseExample {
	-webkit-box-shadow: 0px 6.5px 30px 1px rgba(232, 191, 93, 0.4);
	        box-shadow: 0px 6.5px 30px 1px rgba(232, 191, 93, 0.4);
}
#contact {
	background-color: #fff;
	display: block;
	height: 495px;
	padding-top: 100px;
	padding-left: 20%;
	height: 800px;
}
.hdr7 {
	padding-left: 25px;
	font-family: PlayfairDisplay Regular;
	font-size: 25px;
	background-image: url("../img/07.png");
	background-repeat: no-repeat;
	height: 150px;
	margin-bottom: 20px;
	padding-top: 20px;
	border-left: 2px solid #e8bf5d;
	display: block;
	color: #000;
	cursor: default;	
}
.hdr7 p {
	margin-top: 20px;
	font-size: 18px;
	color: #505050;
	font-family: PlayfairDisplay Regular;
	cursor: default;
}
.cont {
	text-align: center;
}
.ccc {
	text-align: center;
	height: 450px;
	width: 60%;
	margin-left: 10%;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	-webkit-box-shadow: 0px 10px 115px 0px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 10px 115px 0px rgba(0, 0, 0, 0.1);
	margin-top: 30px;
}
.ccc input {
	width: 80%;
	-webkit-border-radius: 0;
	        border-radius: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	    border: none;
		border-bottom: 1px solid #ccc;
	color: #777;
	margin-bottom: 15px;
}
.ccc p {
	font-family: Open Sans Italic;

} 
.ccc .col-md-4 {
	width: 50%;
}
.map {
	margin-top: 10%;
	height: 265px;
	width: 265px;
	-webkit-box-shadow: -21px 21px 0px 1px #E8BF5D;
	        box-shadow: -21px 21px 0px 1px #E8BF5D;
}
.ml {
	padding-top: 10%;
	margin-left: auto;
}
.mr {
	padding-top: 5%;
}
.msg {
	height: 80px;
}
.contactme2 {
	font-family: PlayfairDisplay Regular;
	font-size: 15px;
	display: block;
	background-color: #e8bf5d;
	border: transparent;
	-webkit-border-radius: 25px;
	        border-radius: 25px;
	height: 40px;
	width: 150px;
	text-align: center;
	color: black;
	padding-top: 7px;
	margin: 10%;
}
.footer {
	background-color: #0f0f0f;
	display: block;
	height: 65px;
	color: #666;
	padding-left: 20%;
	padding-top: 25px;
	font-family: PlayfairDisplay Regular;
}
.footer a {
	color: #FFF;
	font-family: Open Sans Regular;
}
.footer a:hover {
	color: #e8bf5d;
}
.copy {
	display: block;
	cursor: default;
}
.copy a {
	cursor: pointer;
}
.media {
	text-align: right;
	top: -15px;
}